## Library Information System (LIS)
<p>Library Information System is the relational database schema of the library services of an academic
institute. A library having books to be issued by the faculty and students of the institute. The
library needs an LIS to manage the books, the members, and the issue-return process.</p>

<p>The below lines of code connects us to the <code>Library_info_DB</code> database</p>

In [2]:
import sqlalchemy as sq
sq.create_engine('sqlite:///Library_info_DB.db')
%load_ext sql
%sql sqlite:///Library_info_DB.db

## 1. Find the first names and last names of authors, where the author’s first name is a single character.

In [5]:
%%sql 
SELECT DISTINCT author_fname, author_lname
FROM book_authors
WHERE author_fname LIKE '_'

 * sqlite:///Library_info_DB.db
Done.

[('G', 'KP'), ('E', 'Balagurusamy')]

## 2. Find the titles and publishers of all books, except the ones published in year ‘2015’ or ‘2017’.

In [7]:
%%sql
SELECT title, publisher
FROM book_catalogue
EXCEPT
SELECT title, publisher
FROM book_catalogue
WHERE publish_year IN ('2015','2017')

 * sqlite:///Library_info_DB.db
Done.

[('Artificial Intelligence', 'For Dummies\tWiley'),
 ('Clean Code', 'Pearson Education'),
 ('Computer Science Textbook For Class 11', 'NCERT'),
 ('Database Management System Oracle SQL', 'Prentice Hall India Learning Private Limited'),
 ('Let us C++', 'BPB Publications'),
 ('Machine Learning (in Python and R)', 'For Dummies\tWiley'),
 ('Programming in ANSI C', 'McGraw Hill Education'),
 ('The C++ Programming Language', 'Pearson Education India')]

## 3. Find the first names and last names of the students whose birthday is in May 2002 or in May 2003.

In [9]:
%%sql
SELECT student_fname, student_lname
FROM students
WHERE dob BETWEEN '2003-05-01' AND '2003-05-30'
UNION
SELECT student_fname, student_lname
FROM students
WHERE dob BETWEEN '2002-05-01' AND '2002-05-30'

 * sqlite:///Library_info_DB.db
Done.

[('Pushpa', 'Das'), ('Raju', 'Kumar'), ('Ramesh', 'Samant'), ('Vikas', 'Das')]

## 4. Find out the total number of members in the UG with alias name or column header as‘total member’.

In [10]:
%%sql
SELECT COUNT(member_type) AS total_member
FROM members
WHERE member_type='UG'

 * sqlite:///Library_info_DB.db
Done.

[(42,)]

## 5. Find out the number of female students in each department.

In [11]:
%%sql
SELECT department_code, COUNT(gender) AS no_of_females
FROM students
WHERE gender='F'
GROUP BY department_code

 * sqlite:///Library_info_DB.db
Done.

[('CS', 9), ('EE', 2), ('MCA', 4), ('ME', 3)]

## 6. Write a query to obtain the natural join between the tables, students and departments.

In [12]:
%%sql 
SELECT *
FROM students NATURAL JOIN departments

 * sqlite:///Library_info_DB.db
Done.

[('Vikas', 'Das', 'CS01', 'CS', 'M', 9002000000, '2002-05-09', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Rajib', 'Das', 'CS02', 'CS', 'M', 9002000001, '2002-04-09', 'B.Tech', 'Computer Science', 'Block_1'),
 ('David', 'Rajak', 'CS03', 'CS', 'M', 9002000002, '2002-03-05', 'B.Tech', 'Computer Science', 'Block_1'),
 ('John', 'Chattarjee', 'CS04', 'CS', 'M', 9002000003, '2002-02-09', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Robert', 'Junior', 'CS05', 'CS', 'M', 9002000004, '2002-01-07', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Arup', 'Layek', 'CS06', 'CS', 'M', 9002000005, '2002-10-05', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Susmita', 'Das', 'CS07', 'CS', 'F', 9002000006, '2002-10-04', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Soma', 'Gorai', 'CS08', 'CS', 'F', 9002000007, '2002-10-03', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Suman', 'Kumari', 'CS09', 'CS', 'F', 9002000008, '2002-10-02', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Payel', 'Mandal', 'CS10', 'CS', 'F', 9002000009, '2002-10-01', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Puja', 'Biswas', 'CS11', 'CS', 'F', 9002000030, '2003-06-28', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Sataskhi', 'Mahato', 'CS12', 'CS', 'F', 9002000031, '2003-06-29', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Sita', 'Nayak', 'CS13', 'CS', 'F', 9002000032, '2003-12-30', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Laxmi', 'Sarkar', 'CS14', 'CS', 'F', 9002000033, '2002-06-01', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Pushpa', 'Das', 'CS15', 'CS', 'F', 9002000034, '2003-05-02', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Diptangsu', 'Ma', 'CS16', 'CS', 'M', 9002000035, '2003-06-03', 'B.Tech', 'Computer Science', 'Block_1'),
 ('Ramesh', 'Samant', 'ME01', 'ME', 'M', 9002000010, '2003-05-10', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Anil', 'Pratap', 'ME02', 'ME', 'M', 9002000011, '2003-04-11', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Vijay', 'Dubey', 'ME03', 'ME', 'M', 9002000012, '2003-03-12', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Suresh', 'Singh', 'ME04', 'ME', 'M', 9002000013, '2003-02-13', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Sanjay', 'Mollya', 'ME05', 'ME', 'M', 9002000014, '2003-01-14', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Santash', 'Thorat', 'ME06', 'ME', 'M', 9002000015, '2003-06-15', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Argha', 'Bee', 'ME07', 'ME', 'M', 9002000016, '2003-07-16', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Dilip', 'Nayak', 'ME09', 'ME', 'M', 9002000036, '2002-06-03', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Kiran', 'Das', 'ME10', 'ME', 'M', 9002000037, '2002-06-04', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Ajay', 'Mahato', 'ME11', 'ME', 'M', 9002000038, '2002-11-05', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Shankar', 'Rathod', 'ME12', 'ME', 'M', 9002000039, '2002-06-06', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Sushila', 'Saha', 'ME13', 'ME', 'F', 9002000040, '2002-12-07', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Rita', 'Thakur', 'ME14', 'ME', 'F', 9002000041, '2002-06-08', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Sita', 'Mandal', 'ME15', 'ME', 'F', 9002000042, '2002-06-09', 'B.Tech', 'Mechanical Engineering', 'Block_2'),
 ('Raju', 'Kumar', 'EE01', 'EE', 'M', 9002000017, '2002-05-17', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Suman', 'Lal', 'EE02', 'EE', 'M', 9002000018, '2003-01-18', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Vinod', 'Mandal', 'EE03', 'EE', 'M', 9002000019, '2003-02-19', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Rajendra', 'Khatun', 'EE04', 'EE', 'M', 9002000020, '2002-03-20', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Abdul', 'Ali', 'EE05', 'EE', 'M', 9002000021, '2003-04-21', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Gita', 'Das', 'EE06', 'EE', 'F', 9002000022, '2003-04-22', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Arijit', 'Sahu', 'EE07', 'EE', 'M', 9002000023, '2003-06-22', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Subham', 'Gupta', 'EE08', 'EE', 'M', 9002000024, '2003-04-23', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Santanu', 'Ghosh', 'EE09', 'EE', 'M', 9002000025, '2003-04-24', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Sourav', 'Patel', 'EE10', 'EE', 'M', 9002000026, '2003-03-25', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Rahul', 'Roy', 'EE11', 'EE', 'M', 9002000027, '2003-02-26', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Sunita', 'Paramanik', 'EE12', 'EE', 'F', 9002000028, '2003-01-27', 'B.Tech', 'Electrical Engineering', 'Block_3'),
 ('Tanay', 'Sarkar', 'MCA01', 'MCA', 'M', 9002000043, '2002-06-10', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Pramad', 'Pawar', 'MCA02', 'MCA', 'M', 9002000044, '2002-06-11', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Surendra', 'Malik', 'MCA03', 'MCA', 'M', 9002000045, '2006-06-12', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Joyti', 'Nath', 'MCA04', 'MCA', 'M', 9002000046, '2002-06-13', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Prakash', 'Sardar', 'MCA05', 'MCA', 'M', 9002000047, '2002-06-14', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Rahul', 'Singh', 'MCA06', 'MCA', 'M', 9002000048, '2002-06-15', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Savita', 'Das', 'MCA07', 'MCA', 'F', 9002000049, '2002-06-15', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Rina', 'Mahato', 'MCA08', 'MCA', 'F', 9002000050, '2002-06-17', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Rima', 'Layek', 'MCA09', 'MCA', 'F', 9002000051, '2002-06-18', 'MCA', 'Master Of Computer Application', 'Block_4'),
 ('Nirmala', 'Das', 'MCA10', 'MCA', 'F', 9002000052, '2002-06-19', 'MCA', 'Master Of Computer Application', 'Block_4')]

## 7. Find the name of the department in which Gita Das is studying.

In [13]:
%%sql
SELECT department_name
FROM departments NATURAL JOIN students
WHERE student_fname = 'Gita'
AND student_lname = 'Das'

 * sqlite:///Library_info_DB.db
Done.

[('Electrical Engineering',)]

## 8. Find the roll number of all male students, having their department building in ‘Block 2’.

In [14]:
%%sql
SELECT roll_no
FROM departments NATURAL JOIN students
WHERE department_building = 'Block_2'
AND gender = 'M'

 * sqlite:///Library_info_DB.db
Done.

[('ME01',),
 ('ME02',),
 ('ME03',),
 ('ME04',),
 ('ME05',),
 ('ME06',),
 ('ME07',),
 ('ME09',),
 ('ME10',),
 ('ME11',),
 ('ME12',)]

## 9. Find the first name, last name and the roll number of students having their department building in ‘Block 1’.

In [15]:
%%sql
SELECT student_fname, student_lname, roll_no
FROM departments NATURAL JOIN students
WHERE department_building = 'Block_1'

 * sqlite:///Library_info_DB.db
Done.

[('Vikas', 'Das', 'CS01'),
 ('Rajib', 'Das', 'CS02'),
 ('David', 'Rajak', 'CS03'),
 ('John', 'Chattarjee', 'CS04'),
 ('Robert', 'Junior', 'CS05'),
 ('Arup', 'Layek', 'CS06'),
 ('Susmita', 'Das', 'CS07'),
 ('Soma', 'Gorai', 'CS08'),
 ('Suman', 'Kumari', 'CS09'),
 ('Payel', 'Mandal', 'CS10'),
 ('Puja', 'Biswas', 'CS11'),
 ('Sataskhi', 'Mahato', 'CS12'),
 ('Sita', 'Nayak', 'CS13'),
 ('Laxmi', 'Sarkar', 'CS14'),
 ('Pushpa', 'Das', 'CS15'),
 ('Diptangsu', 'Ma', 'CS16')]

## 10. Find out the details of the members who have not issued any books.

In [16]:
%%sql
SELECT *
FROM members
WHERE NOT EXISTS (SELECT *
FROM book_issue
WHERE members.member_no = book_issue.member_no)

 * sqlite:///Library_info_DB.db
Done.

[('M0001', 'Student', 'UG', 'CS01', '\\N'),
 ('M0002', 'Student', 'UG', 'CS02', '\\N'),
 ('M0003', 'Student', 'UG', 'CS03', '\\N'),
 ('M0004', 'Student', 'UG', 'CS04', '\\N'),
 ('M0005', 'Student', 'UG', 'CS05', '\\N'),
 ('M0006', 'Student', 'UG', 'CS06', '\\N'),
 ('M0007', 'Student', 'UG', 'CS07', '\\N'),
 ('M0008', 'Student', 'UG', 'CS08', '\\N'),
 ('M0009', 'Student', 'UG', 'CS09', '\\N'),
 ('M0010', 'Student', 'UG', 'CS10', '\\N'),
 ('M0011', 'Student', 'UG', 'CS11', '\\N'),
 ('M0014', 'Student', 'UG', 'CS14', '\\N'),
 ('M0015', 'Student', 'UG', 'CS15', '\\N'),
 ('M0017', 'Student', 'UG', 'ME01', '\\N'),
 ('M0018', 'Student', 'UG', 'ME02', '\\N'),
 ('M0019', 'Student', 'UG', 'ME03', '\\N'),
 ('M0020', 'Student', 'UG', 'ME04', '\\N'),
 ('M0021', 'Student', 'UG', 'ME05', '\\N'),
 ('M0022', 'Student', 'UG', 'ME06', '\\N'),
 ('M0023', 'Student', 'UG', 'ME07', '\\N'),
 ('M0025', 'Student', 'UG', 'ME09', '\\N'),
 ('M0026', 'Student', 'UG', 'ME10', '\\N'),
 ('M0027', 'Student', 'UG', 'ME11', '\\N'),
 ('M0028', 'Student', 'UG', 'ME12', '\\N'),
 ('M0029', 'Student', 'UG', 'ME13', '\\N'),
 ('M0030', 'Student', 'UG', 'ME14', '\\N'),
 ('M0031', 'Student', 'UG', 'EE01', '\\N'),
 ('M0032', 'Student', 'UG', 'EE02', '\\N'),
 ('M0033', 'Student', 'UG', 'EE03', '\\N'),
 ('M0034', 'Student', 'UG', 'EE04', '\\N'),
 ('M0035', 'Student', 'UG', 'EE05', '\\N'),
 ('M0036', 'Student', 'UG', 'EE06', '\\N'),
 ('M0037', 'Student', 'UG', 'EE07', '\\N'),
 ('M0038', 'Student', 'UG', 'EE08', '\\N'),
 ('M0039', 'Student', 'UG', 'EE09', '\\N'),
 ('M0040', 'Student', 'UG', 'EE10', '\\N'),
 ('M0041', 'Student', 'UG', 'EE11', '\\N'),
 ('M0042', 'Student', 'UG', 'EE12', '\\N'),
 ('M0043', 'Student', 'PG', 'MCA01', '\\N'),
 ('M0044', 'Student', 'PG', 'MCA02', '\\N'),
 ('M0045', 'Student', 'PG', 'MCA03', '\\N'),
 ('M0046', 'Student', 'PG', 'MCA04', '\\N'),
 ('M0047', 'Student', 'PG', 'MCA05', '\\N'),
 ('M0048', 'Student', 'PG', 'MCA06', '\\N'),
 ('M0049', 'Student', 'PG', 'MCA07', '\\N'),
 ('M0050', 'Student', 'PG', 'MCA08', '\\N'),
 ('M0051', 'Student', 'PG', 'MCA09', '\\N'),
 ('M0052', 'Student', 'PG', 'MCA10', '\\N'),
 ('M0013', 'Student', 'UG', 'CS13', '\\N'),
 ('M0012', 'Student', 'UG', 'CS12', '\\N'),
 ('M0016', 'Student', 'UG', 'CS16', '\\N'),
 ('M0024', 'Student', 'UG', 'ME15', '\\N'),
 ('M0053', 'Faculty', 'FC', '\\N', 'FCS01'),
 ('M0054', 'Faculty', 'FC', '\\N', 'FCS02'),
 ('M0055', 'Faculty', 'FC', '\\N', 'FCS03'),
 ('M0056', 'Faculty', 'FC', '\\N', 'FCS04'),
 ('M0057', 'Faculty', 'FC', '\\N', 'FME01'),
 ('M0058', 'Faculty', 'FC', '\\N', 'FME02'),
 ('M0059', 'Faculty', 'FC', '\\N', 'FME03'),
 ('M0060', 'Faculty', 'FC', '\\N', 'FME04'),
 ('M0061', 'Faculty', 'FC', '\\N', 'FEE01'),
 ('M0062', 'Faculty', 'FC', '\\N', 'FEE02'),
 ('M0063', 'Faculty', 'FC', '\\N', 'FEE03'),
 ('M0064', 'Faculty', 'FC', '\\N', 'FEE04'),
 ('M0065', 'Faculty', 'FC', '\\N', 'FMCA01'),
 ('M0066', 'Faculty', 'FC', '\\N', 'FMCA02'),
 ('M0067', 'Faculty', 'FC', '\\N', 'FMCA03'),
 ('M0068', 'Faculty', 'FC', '\\N', 'FMCA04')]

## 11. Write a SQL statement to find out the dates when one or more copies of the book having the title “Learning with Python” has been issued.

In [17]:
%%sql
SELECT DISTINCT bi.doi
FROM book_catalogue AS bkcat
INNER JOIN book_copies AS bcp USING (isbn_no)
INNER JOIN book_issue AS bi USING (accession_no)
WHERE bkcat.title = 'Learning with Python'

 * sqlite:///Library_info_DB.db
Done.

[]